/*=================================================================================================
Primary Size for -Text,Headings,bold,Span,Links and Neutral Colors
=================================================================================================*/
@import '../helpers/_variables.scss';
@import '../helpers/_mixins.scss';

html {
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
    cursor: auto;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: $Standard;
}

*:focus {
    outline: 0 !important;
}

img{
    max-width: 100%;
}

